<p id="notice"><%= flash[:notice] %></p>
<!-- エラーメッセージ -->
<% if @new_book.errors.any? %>
  <%= @new_book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @new_book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!-- 共通レイアウト -->
<div>
  <div>
    <h2>User info</h1>
    <div>
      <%= image_tag user.get_profile_image(100, 100) %>
      <table>
        <tbody>
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div>
        <%= link_to edit_user_path(user.id) do %>
          <span>プロフィール編集</span>
        <% end %>
      </div>
    </div>
  </div>
    <div>
    <h2>New book</h2>
    <div>
        <%= form_with model: book do |f|%>
          <label for="book_title">Title</label>
          <%= f.text_field :title, class:"form-control" %>
          <label for="book_opinion">Opinion</label>
          <%= f.text_area :body, class:"form-control" %>
          <%= f.submit 'Create Book' %>
        <% end %>
    </div>
  </div>
</div>